@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5 class="display-4">Controle de Processos Judiciais</h5>
    <p>Somente os funcionários do Departamento Jurídico estão autorizados mediante Registro/Login</p>
</div>
