@{
    ViewData["Title"] = "Política de Privacidade - Informativo";
}

<h3 class="row justify-content-md-center">@ViewData["Title"]</h3>
<br />
<div class="row justify-content-md-center">
    <div class="col-md-8"> 
        <label for="termostxt">Informativo sobre Lei 13.709/2018 - LGPD</label>
        <textarea class="form-control" id="termostxt" rows="17" disabled>“A Lei Geral de Proteção de Dados Pessoais (LGPDP), Lei nº 13.709/2018, é a legislação brasileira que regula as atividades de tratamento de dados pessoais e que também altera os artigos 7º e 16 do Marco Civil da Internet. O Brasil passou a fazer parte dos países que contam com uma legislação específica para proteção de dados e da privacidade dos seus cidadãos. Outros regulamentos similares à LGPD no Brasil são o Regulamento Geral sobre a Proteção de Dados (GDPR) na União Europeia, que passou a ser obrigatório em 25 de maio de 2018 e aplicável a todos os países da União Europeia (UE), e o California Consumer Privacy Act of 2018 (CCPA), nos Estados Unidos da América, implementado através de uma iniciativa em âmbito estadual, na Califórnia, onde foi aprovado no dia 28 de junho de 2018 (AB 375). A legislação se fundamenta em diversos valores, como o respeito à privacidade; à autodeterminação informativa; à liberdade de expressão, de informação, comunicação e de opinião; à inviolabilidade da intimidade, da honra e da imagem; ao desenvolvimento econômico e tecnológico e a inovação; à livre iniciativa, livre concorrência e defesa do consumidor e aos direitos humanos de liberdade e dignidade das pessoas. A LGPD cria um conjunto de novos conceitos jurídicos (e.g. "dados pessoais", "dados pessoais sensíveis"), estabelece as condições nas quais os dados pessoais podem ser tratados, define um conjunto de direitos para os titulares dos dados, gera obrigações específicas para os controladores dos dados e cria uma série de procedimentos e normas para que haja maior cuidado com o tratamento de dados pessoais e compartilhamento com terceiros. A lei se aplica a toda informação relacionada a pessoa natural identificada ou que possa ser identificável e aos dados que tratem de origem racial ou étnica, convicção religiosa, opinião política, filiação a sindicato ou a organização de caráter religioso, filosófico ou político, dado referente à saúde ou à vida sexual, dado genético ou biométrico, sempre que os mesmos estiverem a vinculadosa uma pessoa natural.” 
    Disponível em: https://pt.wikipedia.org/wili/Lei_Geral_de_Protecao_de_Dados_Pessoais
        </textarea>
    </div>
</div>
<br />
<div class="row justify-content-md-center">
    <div class="col-md-1"> 
    <a class="btn btn-success" asp-action="Index">Voltar</a>
    </div>
</div>
