@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrar novo Usuário";
}

<div class="row text-center">
    <div class="row justify-content-md-center">
        <div class="col-md-4"> 
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2>Registrar novo Usuário</h2>
                <hr />
                <br />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <br/>
                <div class="form-floating">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.Password"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <br/>
                <div class="form-floating">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.ConfirmPassword"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <br />
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Salvar</button>
            </form>
        </div>
     </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
